<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发现</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'kitchen/css/find.css' %}">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_996064_udode20327p.css">
    <!--<link rel="stylesheet" href="swiper-4.4.6/dist/css/swiper.min.css">-->
    <script type="text/javascript" src="{% static 'kitchen/js/rem.js' %}"></script>
</head>
<body>
    <!-- 头部开始 -->
    <header>
        <div class="title">
            <a href="{% url 'kitchen:index' %}" class="tleft">
                <i class="iconfont icon-jiantouarrowhead7"></i>
            </a>
            <h2 class="tright">
                发现
            </h2>
        </div>
    </header>
    <!-- 头部结束 -->
    <div class="bg">
    <!-- 按钮开始 -->
        <div class="anniu">
            <button>
                <a href="" class="active">动态</a>
            </button>
            <button>
                <a href="">直播</a>
            </button>
        </div>
    <!-- 按钮结束 -->
    
    <!-- 展示开始 -->
        <section class="show">
            {% for i in content %}
            <a href="/DynamicDetails/{{ i.id }}">
            <div class="box">
                <div class="head">
                    <img src="{% static 'kitchen/image/find/head1_l.gif' %}" alt="">
                    <h2>{{ i.author }}</h2>
                </div>
                <div class="time">
                    <p>{{ i.u_time}}</p>
                    <span>18 : 00</span>
                </div>
                <div class="text">{{ i.con }}</div>
                <div class="img">
                    <img src="/static/kitchen/image/find/{{ i.img }}" alt="">
                </div>
                <div class="look">
                    <div class="dian"></div>
                    <p>浏览<span>628</span>次</p>
                </div>
                <div class="zan">
                    <img src="{% static 'kitchen/image/find/icon1_l.gif' %}" alt="">
                    <p><span>{{ i.z_number }}</span>人觉得很赞</p>
                </div>
                <div class="icon">
                    <img src="{% static 'kitchen/image/find/icon2_l.gif' %}" alt="">
                    <img src="{% static 'kitchen/image/find/icon3_l.gif' %}" alt="">
                </div>
            </div>
            </a>
            {% endfor%}
        </section>
    <!-- 展示结束 -->
    </div>

</body>
</html>