@import url(base.css);

header{
    width: auto;
    height: 1.3rem;
    border-bottom: 2px solid #eae9e9;
}
header .title{
    width: auto;
    height: 0.95rem;
    padding-top: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header .title .tleft i{
    display: block;
    font-size: 26px;
    color: #636262;
    margin-left: 0.2rem;
    position: absolute;
    left: 0;
    top: 0.52rem;
}
header .title .tright{
    font-size: 24px;
    color: #898888;
}
.bg{
    width: 100%;
    height: auto;
    background-color: #F7F5F6;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.bg ul{
    width: 100%;
    height: auto;
    padding-top: 0.48rem;
}
.bg ul li{
    height: 1.88rem;
    width: 100%;
    /* background-color: palevioletred; */
    background-color: #fff;
    border-radius: 0.1rem;
    position: relative;
    padding: 0.24rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 0.24rem;
}
.bg ul li .food{
    width: 1.43rem;
    height: 1.4rem;
    border-radius: 0.09rem;
    overflow: hidden;
}
.bg ul li .food img{
    height: 1.4rem;
    margin-left: -0.42rem;
}
.bg ul li .right{
    width: 4.78rem;
}
.bg ul li .right h4{
    font-size: 0.28rem;
    color: #737373;
}
.bg ul li .right .user{
    width: 1.36rem;
    margin-top: 0.23rem;
    display: flex;
    justify-content: space-between;
}
.bg ul li .right .user .head{
    height: 0.35rem;
    width: 0.35rem;
    overflow: hidden;
    border-radius: 50%;
}
.bg ul li .right .user .head img{
    width: 0.35rem;
}
.bg ul li .right .user span{
    display: block;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.2rem;
    color: #B8B8B8;
}
.bg ul li .right .state{
    width: 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.17rem;
    line-height: 0.17rem;
    margin-top: 0.22rem;
}
.bg ul li .right .state span{
    display: block;
    color: #CACACA;
}
.bg ul li .right .state i{
    font-style: normal;
    display: block;
    color: #FDC237;
}
.bg ul li .right .hot{
    position: absolute;
    height: 0.3rem;
    top: 0.24rem;
    right: 2.83rem;
}
.bg ul li .right .collection{
    width:1rem;
    height:0.4rem;
    background-color:#f32d69;
    border-radius:0.2rem;
    text-align:center;
    line-height:0.4rem;
    color:#eee;
    position: absolute;
    height: 0.4rem;
    bottom:0.24rem;
    right:0.24rem;
}
.bg ul li .right .stars{
    position: absolute;
    top: 1.4rem;
    right: 2.59rem;
    display: flex;
    justify-content: space-between;
}
.bg ul li .right .stars img{
    width: 0.26rem;
    height: 0.28rem;
}